body{
  width: 100%;
}

.octodex{
  list-style: none;
  display: block;

  .octocat {
    list-style: none;
    width: $octocatListWidth;
    padding-bottom: $octocatListPadding;
    font-family: $font;
    // border-bottom: 1px solid $themeColor;
  }

  .catPic {
    border: 1px solid $themeColor;
    width: 250px;
    margin: 0;
    // margin-top: 25px;
    // margin-bottom: 15px;
  }

  // li {
  //   display: inline;
  // }

  a {
    text-decoration: none;
    color: $anchorColor;
  }

  footer {
    margin: 0;
    font-size: 0.3em;
    width: 250px;
    position: relative;
    &::after {
        @include after;
        border-bottom: 1px solid $themeColor;
    }

    .triangle-down {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #999999;
      transform: rotate(180deg);
      float: right;
      position: absolute;
      top: 0;
      right: 10px;
    }

    cite {
      float: right;
      display: block;
      padding: 10px 0 0 0;
      margin-top: -10px;
      color: #999999;
      font-weight: bold;
      // border-bottom: 1px solid $themeColor;

      ul.authors {
        list-style: none;
        height: 30px;
        float:right;
        padding: 0 5px;
        margin-top: -7px;
        margin-bottom: -5px;

        li {
            display: inline-block;
        }

        img{
          border: 0px transparent;
          width: 20px;
        }
      }
    }
  }

  h3 {
    color: $themeColor;
    margin: 0;
    padding-left: 5px;
  }



  // .avatar{
  //   list-style: none;
  // }

  // .avatars {
  //   width: 20px;
    // position: absolute;
    // top: 0;
    // left: 0;
  // }
}

  .catName {
    font-weight: bold;
  }

  // .authors {
  //   display: inline;
  // }


@media screen and (min-width: 700px)  {
  .octocat {
    float: left;
  }
}

@media screen and (min-width: 1050px) {
  .octocat {
    float:left;
  }
}
