body{
  width: 100%;
}

.octodex{
  list-style: none;
  display: block;

  .octocat {
    list-style: none;
    width: $octocatListWidth;
    padding-bottom: $octocatListPadding;
    font-family: $font;
  }

  .catPic {
    border: 1px solid $themeColor;
    width: $catPicWidth;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $anchorColor;
  }

  footer {
    margin: 0;
    font-size: 0.3em;
    width: $footerWidth;
    position: relative;
    &::after {
        @include after;
        border-bottom: 1px solid $themeColor;
    }

    .triangle-down {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #999999;
      transform: rotate(180deg);
      float: right;
      position: absolute;
      top: -5px;
      right: 10px;
    }

    cite {
      float: right;
      display: block;
      padding: 10px 0 0 0;
      margin-top: $citeMarginTop;
      color: $citeFontColor;
      font-weight: bold;

      ul.authors {
        list-style: none;
        height: $authorsHeight;
        float:right;
        padding: 0 5px;
        margin-top: $authorsMarginTop;
        margin-bottom: $authorsMarginBottom;

        li {
            display: inline-block;
        }

        img{
          border: 0px transparent;
          width: $avatarImgWidth;
        }
      }
    }
  }

  h3 {
    color: $themeColor;
    margin: 0;
    padding-left: 5px;
  }
}

  .catName {
    font-weight: bold;
  }

@media screen and (min-width: 700px)  {
  .octocat {
    float: left;
  }
}

@media screen and (min-width: 1050px) {
  .octocat {
    float:left;
  }
}
