$themeColor:#cccccc;
$font: 'Arial', sans-serif;
$anchorColor: #000000;
$headerAnchorPadding: 5px;
$octocatListWidth: 300px;
$octocatListPadding: 26px;
$catPicWidth: 250px;
$footerWidth: 250px;
$citeFontColor: #999999;
$citeMarginTop: -10px;
$authorsHeight: 30px;
$authorsMarginTop: -7px;
$authorsMarginBottom: -5px;
$avatarImgWidth: 20px;
$footerHeadingPaddingLeft: 5px;
